<div class="row top">
	<div class="glyphicon glyphicon-earphone" aria-hidden="true"></div>
	<div>+27 72 080 1189</div>
</div>

<div class="row logo-col">
	<center>
		<div class="row logo">
			<img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12990859_546391932189072_4012334807621871651_n.jpg?oh=140fc6708fb6f101f984a5c2263be47c&oe=5814F8CB">
		</div>
	</center>
</div>

<div class="row nav-bar">

	<div class="dropdown col-lg-1 col-md-1 col-sm-1 col-xs-1 nav-item"></div>

	<div class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item">
		<a href="#/">Home</a>
	</div>

	<div class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-2">
	  <div class="dropdown-toggle nav-item" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Company
	    <span class="caret"></span>
	  </div>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#" id="to-mission">Mission</a></li>
	    <li><a href="#" id="to-team">Meet the team</a></li>
	  </ul>
	</div>

	<div class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-2">
	  <div class="dropdown-toggle nav-item" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	   	Services
	    <span class="caret"></span>
	  </div>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">Menus</a></li>
	    <li><a href="#">What we offer</a></li>
	    <li><a href="#">Clients</a></li>
	  </ul>
	</div>

	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item">Gallery</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item">Contact</div>

</div>

<div class="row">
	<div class="slides-col col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<img class="mySlides" src="https://static.wixstatic.com/media/cf177a_2d44ce2f652e425c85e29ead4314052c.jpg/v1/fill/w_743,h_743,al_c,q_90,usm_0.66_1.00_0.01/cf177a_2d44ce2f652e425c85e29ead4314052c.jpg">
		<img class="mySlides" src="https://static.wixstatic.com/media/cf177a_0bb30afbed0d41a9a616a63da342f9c7.jpg/v1/fill/w_743,h_743,al_c,q_90,usm_0.66_1.00_0.01/cf177a_0bb30afbed0d41a9a616a63da342f9c7.jpg">
		<img class="mySlides" src="https://static.wixstatic.com/media/cf177a_78d0da3a23fd47279cea1c6a2be0bd2b.jpg/v1/fill/w_800,h_600,al_c,q_90/cf177a_78d0da3a23fd47279cea1c6a2be0bd2b.jpg">
		<img class="mySlides" src="https://static.wixstatic.com/media/cf177a_5474b0c5184c4e568a31576cdbde8c85.jpg/v1/fill/w_557,h_743,al_c,q_90,usm_0.66_1.00_0.01/cf177a_5474b0c5184c4e568a31576cdbde8c85.jpg">
		
		<span class="glyphicon glyphicon-chevron-left slide-left" ng-click="plusDivs(-1)" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-chevron-right slide-right" ng-click="plusDivs(+1)" aria-hidden="true"></span>
	</div>

	<div class="text-col col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<h1>Our <strong>Commitment</strong></h1>
		<h4>We are a fresh new company committed to serving the best quality, health orientated food to a growing demand of business conferences, private functions and events.</h4>

		<div class="row social-bar">
			<a href="https://www.facebook.com/RawCateringCo/">
				<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS4rCbG68OzQhKT-hnmwJy_kYa8vak5H_GyZxTUzyOd8ElUmsXAUg" class="img-rounded social-item">
			</a>
			<a href="https://www.instagram.com/rawcateringco/">
				<img src="http://assets.nydailynews.com/polopoly_fs/1.2632886.1462976353!/img/httpImage/image.jpg_gen/derivatives/article_750/instagram12n-1-web.jpg" class="img-rounded social-item">
			</a>
			<a href="https://twitter.com/Rawcateringco">
				<img src="http://www.blazingcatfur.ca/wp-content/uploads/2016/02/Twitter-logo21.png" class="img-rounded social-item">
			</a>
		</div>


	</div>
</div>

<div class="company row">
	<div class="bg-overlay">
		<div class="company-text">
			<h1>HUMBLE CATERING BEGINNINGS </h1>
			<h3>Cape Town created the passion and so things grew...</h3>
			<p>RAW Catering Co. was conceptualized in Cape Town many years ago but it was not until our Director, Trenton Devine, returned home from overseas that we saw the catering potential in the local Cape Town market.
	 		As a start-up company we saw a niche in the market for healthy catering and more specifically healthy contract catering for office canteens and outsourced healthy business catering. We are a Catering Co. that services the needs of business staff during the day and strive to create a canteen menu in business establishments that leaves staff feeling energized and upbeat after every meal.</p>
	 		<p>We use our knowledge of produce and the expertise of our team of talented chefs as we also service the needs for upmarket private functions and events catering.
	 		We are committed to healthy food and quality ingredients as we supply our clients with onsite and events options that supply them with the variety they deserve in maintaining a healthy lifestyle whilst experiencing a touch of finess.</p>
 		</div>
	</div>
</div>

<div class="crew-head row">
	<h2>Meet Our Team</h2>
</div>

<div class="crew row">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 member member1">
			<div class="bg-overlay member-intro">
				<h4>Trenton Devine</h4>
				<p>Managing Director at Raw Catering Co.</p>
				<center><div class="glyphicon glyphicon-play icon" aria-hidden="true"></div></center>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 member member2">
			<div class="bg-overlay member-intro">
				<h4>Tyrone Kidney</h4>
				<p>Director at Raw Catering Co.</p>
				<center><div class="glyphicon glyphicon-play icon" aria-hidden="true"></div></center>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 member member3">
			<div class="bg-overlay member-intro"></div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 member member4">
			<div class="bg-overlay member-intro"></div>
		</div>
</div>

<div class="row gallery">
	<h2>The Gallery</h2>

	<div class=row gallery-pic>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pic2">
			<img src="pics/gallery1.jpg">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pic2">
			<img src="https://static.wixstatic.com/media/8ee889fef1f05a9ddd91a3d0eb54e017.jpg/v1/fill/w_161,h_161,al_c,q_80,usm_0.66_1.00_0.01/8ee889fef1f05a9ddd91a3d0eb54e017.jpg">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pic2">
			<img src="https://static.wixstatic.com/media/25f9e7b5ee37f06ea1f94fa331dd2623.jpg/v1/fill/w_161,h_161,al_c,q_80,usm_0.66_1.00_0.01/25f9e7b5ee37f06ea1f94fa331dd2623.jpg">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pic2">
			<img src="https://static.wixstatic.com/media/214ec6_6c48170fbf65a657cf295acc70d8ec86.jpg/v1/fill/w_161,h_161,al_c,q_80,usm_0.66_1.00_0.01/214ec6_6c48170fbf65a657cf295acc70d8ec86.jpg">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pic2">
			<img src="https://static.wixstatic.com/media/c888c45102354f4eb4666bf3d673529f.jpg/v1/fill/w_161,h_161,al_c,q_80,usm_0.66_1.00_0.01/c888c45102354f4eb4666bf3d673529f.jpg">
		</div>
	</div>

	<div class=row gallery-pic>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pic2">
			<img src="https://static.wixstatic.com/media/edd67875ef8b46efbfe8adb4d26bdaba.jpg/v1/fill/w_485,h_774,al_c,q_90,usm_0.66_1.00_0.01/edd67875ef8b46efbfe8adb4d26bdaba.jpg">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pic2">
			<img src="pics/gallery3.jpg">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pic2">
			<img src="pics/gallery4.jpg">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pic2">
			<img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12227824_487515098076756_2864991047451310094_n.jpg?oh=0a82dd76f962e93c352efee4d6179d3f&oe=58233E64">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pic2">
			<img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12208501_486327061528893_7515405438734719751_n.jpg?oh=193dfe7a8871d6b1ac3b7d767da25d44&oe=581C4C37">
		</div>
	</div>

</div>