	<div class="fixed-top">
		<!-- Address and Contact Information -->
		<div class="row top">
			<div class="glyphicon glyphicon-earphone" style="margin-left:20px;" aria-hidden="true"></div>
			<div>Trent Devine: 072 080 1189, trent@rawcateringco.com</div>
			<div>Tyrone Kidney: 083 482 7642, tyrone@rawcateringco.com</div>
			<div id="right">Address: Unit 003 Portwood Ridge, Dock Road, V&A Waterfront.</div>
		</div>
		<div class="row top invisible-address">
			<div id="left">Address: Unit 003 Portwood Ridge, Dock Road, V&A Waterfront.</div>
		</div>

		<!-- Header with Main Logo -->
		<div class="row logo-col">
			<div class="bg-overlay"></div>
			<center>
				<div class="row logo">
					<img src="pics/logo.jpg">
				</div>
			</center>
			<div class="nav-icon">
				<ul style="list-style:none;">
					<li>Home</li>
					<li>Company</li>
					<li>Services</li>
					<li>Gallery</li>
					<li>Contact</li>
				</ul>
			</div>
		</div>

		<!-- Navigation Bar -->
		<div class="row nav-bar">
			<div class="dropdown col-lg-1 col-md-1 col-sm-1 col-xs-1 nav-item"></div>
			<div class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item">
				<a href="#/">Home</a>
			</div>

			<div class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-2">
			  <div class="dropdown-toggle nav-item" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Company
			    <span class="caret"></span>
			  </div>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#/" id="to-mission">Mission</a></li>
			    <li><a href="#/" id="to-team">Meet the team</a></li>
			  </ul>
			</div>

			<div class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-2">
			  <div class="dropdown-toggle nav-item" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			   	Services
			    <span class="caret"></span>
			  </div>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#/">Menus</a></li>
			    <li><a href="#/" id="to-service">What we offer</a></li>
			    <li><a href="#/services/clients">Clients</a></li>
			  </ul>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item" id="to-gallery">Gallery</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item">Contact</div>
		</div>

	</div>

	<div class="row empty"></div>

	<!-- Slideshow and Main Text -->
	<div class="row">
		<div class="slides-col col-lg-6 col-md-6 col-sm-6 col-xs-12">

			<img class="mySlides" src="pics/slide6.jpg">
			<img class="mySlides" src="pics/slide7.jpg">
			<img class="mySlides" src="pics/slide8.jpg">
			<img class="mySlides" src="pics/slide9.jpg">
			<img class="mySlides" src="pics/slide10.jpg">
			<img class="mySlides" src="pics/slide11.jpg">
			<img class="mySlides" src="pics/slide12.jpg">
			<img class="mySlides" src="pics/slide1.jpg">
			<img class="mySlides" src="pics/slide2.jpg">
			<img class="mySlides" src="pics/slide3.jpg">
			<img class="mySlides" src="pics/slide4.jpg">
			
			<span class="glyphicon glyphicon-chevron-left slide-left" ng-click="plusDivs(-1)" aria-hidden="true"></span>
			<span class="glyphicon glyphicon-chevron-right slide-right" ng-click="plusDivs(+1)" aria-hidden="true"></span>
		</div>

		<div class="text-col col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h1>Our <strong>Commitment</strong></h1>
			<h4>We are a fresh new company committed to serving the best quality, health orientated food to a growing demand of business conferences, private functions and events.</h4>
			<div class="row social-bar">
				<a href="https://www.facebook.com/RawCateringCo/">
					<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS4rCbG68OzQhKT-hnmwJy_kYa8vak5H_GyZxTUzyOd8ElUmsXAUg" class="img-rounded social-item">
				</a>
				<a href="https://www.instagram.com/rawcateringco/">
					<img src="http://assets.nydailynews.com/polopoly_fs/1.2632886.1462976353!/img/httpImage/image.jpg_gen/derivatives/article_750/instagram12n-1-web.jpg" class="img-rounded social-item">
				</a>
				<a href="https://twitter.com/Rawcateringco">
					<img src="http://www.blazingcatfur.ca/wp-content/uploads/2016/02/Twitter-logo21.png" class="img-rounded social-item">
				</a>
			</div>
		</div>
	</div>

	<!-- Company's Mission -->
	<div class="company row">
		<div class="company-text">
			<div class="bg-overlay">
				<h1>Our Mission </h1>
				<h3>Feeding People Nutritiously</h3>
				<h3>Empowering People Respectfully</h3>
				<p>We maintain professionalism in everything we do, continue to grow and expand to meet the demands of our customers, excel through industry leadership & trends, be competitive, surpass expectations, and develop long-lasting relationships with suppliers and customers to sustain growth.</p>
			</div>
	 	</div>
	</div>


	<!-- Youtube Video Empty Row -->
	<div class="row videomap">
		<div class="bg-overlay row" style="background-color:#020E1E;color:white; opacity:0.8;">
			<img id="fruity-logo" src="pics/fruity-logo.jpg">
		</div>

		<div class="row" style="position:relative;">
			<img id="play-button" ng-click="playTrack()" src="pics/play.png">
			<div id="team-scroll">
				<div>To learn more about OUR TEAM.</div>
				<img id="to-team2" src="pics/scroll.png">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 map" id="map"></div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 inquiry">
			<h4 style="margin-top:20px;">Inquiry Request</h4>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">Email</label>
					<div class="col-sm-9">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-3 control-label">Contact</label>
					<div class="col-sm-9">
						<input type="password" class="form-control" id="inputPassword3" placeholder="Name/Company">
					</div>
				</div>
				<textarea class="form-control" rows="5" style="margin:30px 0;">
				</textarea>
				<div class="form-group">
					<div class="row">
						<button type="submit" class="btn btn-default">Send Request</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 fb">
			<ul style="list-style:none;">
				<li ng-repeat="review in reviews2 track by $index" style="margin-left:-40px;">
					<div style="text-align:left;font-size:15px;margin:10px 0 10px 20px;font-weight:bold;">
						<img class="review-icon" src="pics/fb.jpg">
						<span>{{review.reviewer.name}} reviewed Raw Catering Co.</span> 
						<span style="font-size:10px;">{{review.created_time.substring(0,10)}}</span>
						<img class="review-icon" src="pics/star.gif">
						{{review.rating}}
					</div>
					<div style="text-align:left;margin:0 10px;">{{review.review_text}}</div>
				</li>
			</ul>
			<div style="font-weight:bold;font-size:20px; margin-top:-8px;">...</div>
		</div>
	</div>

<!-- 	<div class="youtube-bg" ng-show="showYT">
		<youtube-video class="youtube" video-url="anotherGoodOne" player="bestPlayer"></youtube-video>
		<img id="close-button" ng-click="toggleYT()" src="pics/close.png">
	</div> -->

	<!-- Crew and Member Information -->

	<div class="row crew-head">
		<h2>Our Team</h2>
	</div>

	<div class="row empty2">
		<div class="midrow"></div>
		<div class="team">
			<div class="row member">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<img src="pics/trenton.jpg" class="img-circle thumb">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h4>Trenton Devine</h4>
					<p>Managing Director at Raw Catering Co.</p>
					<p>4 years experience on Super Yachts, catering forsome of the world’s elite, Trent brings both professionalism and finesse, to his catering and management experience</p>
				</div>
			</div>
			<div class="row member">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<img src="pics/tyrone.jpg" class="img-circle thumb">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h4>Tyrone Kidney</h4>
					<p>Director at Raw Catering Co.</p>
					<p>With over 7 years experienc e in the hosptality industry Tyrone's commitment is not only to deliver the highest service but to exceed the guest expectations.</p>
				</div>
			</div>
			<div class="row member">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<img src="pics/staff.jpg" class="img-circle thumb">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h4>Our Staff</h4>
					<p>Megan Smith - Head Chef</p>
					<p>Nonqaba Bikauri (Bianca) - Senior Chef / Pastry Specialist</p>
					<p>Miseka Mbelesi - (Mimi) - Junior Cook</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Menus and Services -->
	<div class="row crew-head" style="height:80px;">
		<h2>What we offer</h2>
	</div>
	<div class="services row">
		<div class="black-bg-overlay">
			<div class="service-btn canapes" id="slide1-btn">Canapés</div>
			<div class="service-btn" id="slide2-btn">Bowl Food (Hot, Cold, Dessert)</div>
			<div class="service-btn" id="slide3-btn">Corporate Catering</div>
		</div>

		<div class="slide1 slide" id="slide1"></div>
		<div class="slide2 slide" id="slide2"></div>
		<div class="slide3 slide" id="slide3"></div>

		<div class="slide-overlay1 slide-overlay" id="slide-overlay1">
			<h1>CANAPES</h1>
			<div class="sample-menu">
				<p>Caesar salad skewers</p>
				<p>Chicken satay skewers with a homemade satay sauce</p>
				<p>Chicken liver pate’, red onion & beetroot marmalade en croute</p>
				<p>Karagi chicken skewers with a chilli plum dipping sauce</p>
				<p>Asian chicken potstickers with a spicy ponzu sauce</p>
				<p>5 spice duck & vermicelli spring rolls</p>
				<p>...</p>
			</div>
			<div class="menu-btn"><a href="menus/canapes.pdf">View PDF</a></div>
		</div>
		<div class="slide-overlay2 slide-overlay" id="slide-overlay2">
			<h1>BOWL FOOD</h1>
			<div class="sample-menu">
				<p>Bowl food offers an exciting and unique service style that allows your guests the delight of sampling a range of delicious and complementary dishes without interrupting the party. Networking can carry on undisturbed as waiting staff circulate with delicious mini main courses that can easily be eaten with a fork while standing. Your guests are happy and well fed and buffet queues are a thing of the past.</p>
			</div>
			<div class="menu-btn2"><a href="menus/cold.pdf">Cold Bowl Food</a></div>
			<div class="menu-btn2"><a href="menus/hot.pdf">Hot Bowl Food</a></div>
			<div class="menu-btn2"><a href="menus/dessert.pdf">Bowl Food Dessert</a></div>
		</div>
		<div class="slide-overlay3 slide-overlay" id="slide-overlay3">
			<h1>CORPORATE CATERING</h1>
			<div class="menu-btn3"><a href="menus/conference.pdf">Conference Menu</a></div>
		</div>
	</div>

	<!-- Gallery of Instagram News Feed --> 
			
	<div class="row gallery">
		<div class="row gallery-pic">
			<ul style="list-style:none;margin-left:-30px;">
				<li ng-repeat="pic in picArray track by $index">
					<div class="pic2" style="float:left;">
						<img src="{{pic.images.standard_resolution.url}}">
						<div class="pic2-stats">
							<span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"><span style="font-family:'Lobster'" >{{pic.likes.count}}</span></span>
							<span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"><span style="font-family:'Lobster'" >{{pic.comments.count}}</span></span>
							<p>{{pic.caption.text}}</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- Google API key:AIzaSyAVTXLZYAsfKE2SOFY8ABATX5etDmvjs0M -->

	<!-- Foot Note -->
	<div class="row foot">
		<div class="bg-overlay">
			<img src="pics/bon-appetit.png">
		</div>
	</div>