<div class ="container">
	<div class="row">
		<div class="nav">
			<div class="col-sm-3 col-sm-offset-1">
				<h1 class="logo">MusIQ</h1>
			</div>
			<div class='col-sm-2 col-sm-offset-5'>
				<row>
					<h4>By Alex Pablo and Vera</h4>
				</row>
			</div>
		</div>
	</div>
	<div class="player center row poop">
		<h2>Log In</h2>
	</div>

	<center class="disp">
		<form ng-submit="login()">
		  <ul>
		  	<li>
			  <div class="line row bump">
			    <label class="col-sm-2 col-sm-offset-3">
			    	Email :
			    </label>
			    <input class="col-sm-3" ng-model="email">
			  </div>
			</li>
			<li>  
			  <div class="line row bump">
			    <label class="col-sm-2 col-sm-offset-3">
			    	Password :
			    </label>
			    <input class="col-sm-3" ng-model="password">
			  </div>
		  	</li>
		  </ul>
		  <div class="row">
		  	<a ng-href="#/user/{{userIdent.$id}}">
		  		<button class="bump" ng-click="login()">
		  			Log In!
		  		</button>
		  	</a>
		  </div>

		</form>
		<a class="bump" ng-href="#/signup"><button>Sign Up!</button></a>
	</center>
</div>