<div class="row top">
	<div class="glyphicon glyphicon-earphone" aria-hidden="true"></div>
	<div>+27 72 080 1189</div>
</div>

<div class="row logo-col">
	<center>
		<div class="row logo">
			<img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12990859_546391932189072_4012334807621871651_n.jpg?oh=140fc6708fb6f101f984a5c2263be47c&oe=5814F8CB">
		</div>
	</center>
</div>

<div class="row nav-bar">

	<div class="dropdown col-lg-1 col-md-1 col-sm-1 col-xs-1 nav-item"></div>

	<div class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item">
		<a href="#/">Home</a>
	</div>

	<div class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-2">
	  <div class="dropdown-toggle nav-item" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Company
	    <span class="caret"></span>
	  </div>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#/" id="to-mission">Mission</a></li>
	    <li><a href="#/" id="to-team">Meet the team</a></li>
	  </ul>
	</div>

	<div class="dropdown col-lg-2 col-md-2 col-sm-2 col-xs-2">
	  <div class="dropdown-toggle nav-item" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	   	Services
	    <span class="caret"></span>
	  </div>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#/services/menus">Menus</a></li>
	    <li><a href="#/" id="to-service">What we offer</a></li>
	    <li><a href="#/services/clients">Clients</a></li>
	  </ul>
	</div>

	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item" id="to-gallery">Gallery</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item">Contact</div>

</div>